<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
      <add name="Demox" connectionString="Data Source=eight.labranet.jamk.fi;Initial Catalog=DemoxOy;Persist Security Info=True;User ID=koodari;Password=koodari13"
      providerName="System.Data.SqlClient" />
    <add name="Ilmot" 
         connectionString="Data Source=eight.labranet.jamk.fi;Initial Catalog=DemoxOy;Persist Security Info=True;User ID=koodari;Password=koodari13"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="Orjat" value="D:\IIO13200-OHJELMOINTIKOE\App_Data\Työntekijät.xml" />
    <add key="koodaajat" value="D:\IIO13200-OHJELMOINTIKOE\XML\koodaajat.xml" />
    <add key="tunnukset" value="D:\IIO13200-OHJELMOINTIKOE\XML\tunnukset.xml"/>
  </appSettings>

</configuration>